<!DOCTYPE html>
<html lang='en'>
<head>
<title>ToDo List</title>
<META http-equiv="X-UA-Compatible" content="IE=EDGE" />
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META http-equiv="Cache-Control" content="no-cache" />
<META name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
<META name="format-detection" content="telephone=no"/>

	<link href='styles.css' rel='stylesheet' type='text/css' media='all'/>
	<link href='ngDatepicker.css' rel='stylesheet' type='text/css' media='all'/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	<script src="angular.min.js"></script>
	<script src="angular-route.min.js"></script>
	<script src="moment-with-locales.min.js"></script>
	<script src="ngDatepicker.min.js"></script>
	<script src="f.js"></script>
</head>
<body ng-app='app'>
	<div id='body' ng-controller='body'>
		<div id='mainbody' ng-cloak >
			<div ng-view></div>
		</div>
	</div>
</div>
</body>
</html>